// Import font
@font-face {
    font-family: "Source Sans Pro", sans-serif;
    src: url("./assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf"),
        url("./assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf"),
        url("./assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf"),
        url("./assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

// Import admin-lte
@import "~bootstrap/scss/bootstrap";
@import "~admin-lte/dist/css/adminlte.css";
@import "~admin-lte/plugins/fontawesome-free/css/all.css";

// Variable
$source-sans-pro: "Source Sans Pro",
sans-serif;

body {
    font-family: $source-sans-pro;
    font-weight: 400;
    background-color: whitesmoke;
    min-height: 100vh !important;
}

.main-form {
    @extend .justify-content-center;
    @extend .form-inline;
    margin-bottom: 2rem;

    input {
        margin: 0 2rem 0 1rem;
    }
}

.main-table {
    @extend .table;
    font-family: $source-sans-pro;
    margin-top: 2rem;
    text-align: center;

    td {
        vertical-align: middle;
        border: none;
    }
}

// Transaction
#start-form {
    @extend .text-center;
    @extend .form-inline;
    display: block;

    label {
        margin-bottom: 2rem;
        margin-top: 5rem;
    }

    input {
        @extend .col-1;
        max-width: 6em;
        margin-right: 0.5em;
    }
}